[flake8]
per-file-ignores =
    test_*.py, hasm.py, hvm*.py, hjc*.py: E203, E402, F403, F405
    hasmUtils.py: E203
    hjcSymbolTable.py, hjcVmWriter.py: E221
    hjcTokenizer.py: E203, F403, F405
    post_save_hook.py: F821
    check-il-id.py: E722
max-line-length = 120
