# Set the default behavior, in case people don't have core.autocrlf set.
* -text

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.hdl text=auto eol=lf
*.cmp text=auto eol=lf
*.tst text=auto eol=lf
*.asm text=auto eol=lf
*.vm text=auto eol=lf
*.jack text=auto eol=lf
*.py text=auto eol=lf
*.ipynb text=auto eol=lf
*.bat text=auto eol=lf
*.sh text=auto eol=lf
*.txt text=auto eol=lf
*.html text=auto eol=lf

# Declare files that will always have CRLF line endings on checkout.

# Denote all files that are truly binary and should not be modified.
*.class binary
*.gif binary
*.png binary
*.jpg binary